.red {
  fill: #cce7d9;
}

.yellow {
  fill: #ecdaa2;
}

.purple {
  fill: #d4d4f8;
}

.blue {
  fill: #c1dbf5;
}

.folder-main {
  bottom: 20px;
  position: relative;
}

.folder,
.file,
.journey {
  display: flex;
  flex-direction: column;
  height: 220px;
  cursor: pointer;
}

.more-btn:hover {
  filter: brightness(85%);
  transition: 100ms;
}
